<div class="row" style="margin-bottom:30px;">
	<div class="col-sm-8">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="search.name" placeholder="Search issues...">

			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Open issues <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li class="active"><a href="#">Open</a></li>
					<li><a href="#">Closed</a></li>
					<li class="divider"></li>
					<li><a href="#">All</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-4 text-right">
		<a ui-sref="app.project.issues.create-issue" class="btn btn-primary">New issue</a>
	</div>
</div>

<div class="projects-list-group">
	<h4>{{ openIssues ? 'Open' : 'Closed' }} issues <small><a ng-href="#" ng-click="openIssues = !openIssues" class="text-muted">{{ openIssues ? 'Closed' : 'Open' }}</a></small></h4>
	<div class="list-group">
		<div class="list-group-item" ng-class="{ 'list-group-item-edit': (milestone._view) }" milestone-list-group-item milestone="issue" ng-click="issueClick(issue);" ng-repeat="issue in issues | filterDisplayObjects | filterMilestones:openIssues | filter:search | orderBy:'_created':true as issueResults"></div>
	</div>
	<p class="text-muted" ng-show="issueResults.length == 0">No results.</p>
</div>