<form name="issueEditForm" class="form-horizontal">
	<div class="form-group" style="margin-bottom:7px;">
		<div class="col-sm-9">
			<input type="text" class="form-control input-lg" ng-model="issue._name" required>
		</div>
		<div class="col-sm-3 text-right" style="padding-top:10px;">
			<a ui-sref="app.project.issues.project-issues.view-issue({ milestoneId: issue.id })" class="text-muted" style="position:relative; top:1px; margin-right:10px;">Cancel</a>
			<button type="button" class="btn btn-primary" ng-click="save();" ng-disabled="!issueEditForm.$valid">Save issue</button>
		</div>
	</div>

	<p class="text-muted">
		<span class="tj-label" style="margin-left:0px; background-color:#999;">{{ issue.open ? 'Open!' : 'Closed' }}</span> <strong>{{ issue.user }}</strong> created this issue on <span ng-attr-title="{{ issue._created | date:'medium' }}">{{ issue._created | date:'mediumDate' }}</span>. <span ng-pluralize count="displayComments.length" when="commentsPluralizeWhen"></span>
	</p>

	<div class="comment" style="margin-left:-15px; margin-right:-15px; padding:10px 15px 10px 15px; border-top:1px solid #ddd;">
		<div ng-show="!descriptionPreview">
			<textarea class="form-control with-btn-preview" name="description" ng-model="issue._description" style="height:200px;"></textarea>
		</div>
		<div class="well with-btn-preview" ng-show="descriptionPreview">
			<md ng-model="issue._description"></md>
		</div>
		<div class="preview-link">
			<span class="btn btn-primary btn-preview" ng-click="descriptionPreview = !descriptionPreview">{{ descriptionPreview ? 'Edit' : 'Preview' }}</span>
			<p class="help-block">Description parsed using <a href="https://help.github.com/articles/markdown-basics/" target="_blank">GitHub Flavored Markdown</a>.</p>
		</div>
	</div>
</form>

<div class="comment" ng-repeat="comment in comments | filterDisplayObjects | orderBy:'created' as displayComments" style="margin-left:-15px; margin-right:-15px; padding:10px 15px 10px 15px; border-top:1px solid #ddd;">
	<p>
		<strong>{{ comment.user }}</strong>
		<span class="text-muted">{{ comment.created | date:'medium' }}</span>
	</p>
	<md ng-model="comment.comment"></md>
</div>

<form name="newCommentForm">
	<div class="row" style="margin-bottom:-15px; padding-top:15px; border-top:1px solid #dddddd; background-color:#ececec;">
		
		<div class="col-md-10">

			<div class="form-group">
				<textarea class="form-control" name="" id="" ng-model="issue._new_comment" placeholder="Comment..."></textarea>
			</div>

		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-block btn-primary" ng-click="addComment(issue);">Add Comment</button>
			</div>
		</div>
	</div>
</form>