<div class="row">
	<div class="col-md-8">
		<md ng-model="project.description"></md>
		<h4 ng-if="!project.description" class="text-muted">No description</h4>
	</div>
	<div class="col-md-4">
		<dl>
			<dt>{{ project.has_uncompleted_time_records ? 'In progress' : 'Completed' }} time</dt>
			<dd>
				<p>{{ project.has_uncompleted_time_records ? project._uncompleted : project.completed | completedTime }}</p>
				
				<p>
					<a ui-sref="app.project.time-records.project-time-records">View time records</a>
				</p>
				<p ng-show="!project.has_uncompleted_time_records">
					<button type="button" class="btn btn-primary" ng-click="createTimeRecord();">New time record</button>
				</p>
			</dd>
		</dl>

		<dl>
			<dt>Contributors</dt>
			<dd>
				{{ (user.email == project.owner) ? 'me' : project.owner }}
				<span class="text-muted">(owner)</span>
			</dd>
			<dd ng-repeat="contributor in project.contributors">
				{{ (user.email == contributor) ? 'me' : contributor }}
			</dd>
		</dl>
		
		<dl>
			<dt>Updated</dt>
			<dd>
				<p>{{ project._updated | date:'medium' }}</p>
			</dd>
		</dl>
	</div>
</div>