<div class="row" ng-show="!timeRecord._edit">

	<div class="col-md-7">

		<span ng-show="!timeRecord.completed" class="in-progress-bold"><span class="glyphicon glyphicon-time"></span> In progress:</span>

		<span ng-show="!timeRecord.name" class="text-muted">No subject.</span>
		<span class="in-progress-bold">{{ timeRecord.name }}</span>

	</div>
	<div class="col-md-3">
		<span class="in-progress-bold">{{ timeRecord.completed ? timeRecord.completed : timeRecord._uncompleted | completedTime }}</span>
	</div>
	<div class="col-md-2">
		me <span>{{ displayComments.length > 0 ? '(' + displayComments.length + ')' : '' }}</span>
	</div>

</div>

<form name="editForm" ng-show="timeRecord._edit">
	
	<div class="row">
		<div class="col-md-10">
			<div class="form-group">
				<input name="name" class="form-control" ng-model="timeRecord._name" placeholder="Subject..." required>
			</div>
			<!-- <h4 class="list-group-item-heading" style="margin-right:80px;" ng-show="timeRecord.name && timeRecord.completed && !timeRecord._edit">{{ timeRecord.name }}</h4>
			<h4 class="list-group-item-heading text-muted" style="margin-right:80px;" ng-show="!timeRecord.name && timeRecord.completed">No name</h4> -->
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-block btn-primary" ng-click="update();" ng-disabled="!editForm.name.$dirty || !editForm.name.$valid">Save Subject</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<dl>
				<dt>Started</dt>
				<dd>{{ timeRecord._start | date:'medium' }}</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>Completed</dt>
				<dd>{{ timeRecord.completed ? timeRecord.completed : timeRecord._uncompleted | completedTime }}</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary" ng-show="!timeRecord.completed" ng-click="complete();" ng-disabled="timeRecord._complete_in_progress">
				<span class="glyphicon glyphicon-stop"></span>
				End
			</button>
			<dl ng-show="timeRecord.end">
				<dt>Finished</dt>
				<dd>
					{{ timeRecord._end | date:'medium' }}
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>Contributors</dt>
				<dd>me <span>{{ displayComments.length > 0 ? '(' + displayComments.length + ')' : '' }}</span></dd>
			</dl>
		</div>
	</div>

	<div class="comment" ng-repeat="comment in comments | filterDisplayObjects | orderBy:'created' as displayComments" style="margin-left:-15px; margin-right:-15px; padding:10px 15px 10px 15px; border-top:1px solid #ddd;">
		<p style="margin-top:">
			<strong>{{ comment.user }}</strong>
			<span class="text-muted">{{ comment.created | date:'medium' }}</span>
		</p>
		<md ng-model="comment.comment"></md>
	</div>

	<div class="row" style="margin-bottom:-15px; padding-top:15px; border-top:1px solid #dddddd; background-color:#ececec;" ng-show="timeRecord._edit">
		
		<div class="col-md-10">

			<div class="form-group">
				<textarea class="form-control" name="" id="" ng-model="timeRecord._new_comment" placeholder="Comment..."></textarea>
			</div>

		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-block btn-primary" ng-click="addComment(timeRecord);">Add Comment</button>
			</div>
		</div>
	</div>
</form>