<form class="form-horizontal" ng-show="!timeRecord.completed">
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="In progress..." ng-model="timeRecord._name">
		</div>
		<div class="col-sm-2">
			<button class="btn btn-block btn-danger btn-stop" ng-click="complete();" ng-disabled="timeRecord._complete_in_progress">
				<span class="glyphicon glyphicon-stop"></span>
				Stop
			</button>
		</div>
	</div>
</form>

<form class="form-horizontal" ng-show="timeRecord._edit">
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="Title..." ng-model="timeRecord._name">
		</div>
		<div class="col-sm-2">
			<button class="btn btn-block btn-success btn-stop" ng-click="update();" ng-disabled="timeRecordUpdateLoading">
				Save
			</button>
		</div>
	</div>
</form>

<a class="text-muted" href="" ng-show="timeRecord.completed && !timeRecord._edit" ng-click="showEditControls(true);" style="float:right;">Edit</a>
<a class="text-muted" href="" ng-show="timeRecord.completed && timeRecord._edit" ng-click="showEditControls(false);" style="float:right;">Cancel</a>

<h4 class="list-group-item-heading" style="margin-right:80px;" ng-show="timeRecord.name && timeRecord.completed && !timeRecord._edit">{{ timeRecord.name }}</h4>
<h4 class="list-group-item-heading text-muted" style="margin-right:80px;" ng-show="!timeRecord.name && timeRecord.completed">No name</h4>

<p class="text-success" ng-show="!timeRecord.completed"><span class="glyphicon glyphicon-time"></span> In progress: {{ timeRecord._uncompleted | completedTime }}</p>
<p class="text-primary" ng-show="timeRecord.completed"><span class="glyphicon glyphicon-time"></span> {{ timeRecord.completed | completedTime }}</p>

<div class="row">
	<div class="col-sm-4">
		<dl>
			<dt>Start time</dt>
			<dd>{{ timeRecord._start | date:'EEE, MMM d yyyy' }} <span class="text-muted">{{ timeRecord._start | date:'h:mm:ss a' }}</span></dd>
		</dl>
	</div>
	<div class="col-sm-4" ng-show="timeRecord.end">
		<dl>
			<dt>End time</dt>
			<dd>{{ timeRecord._end | date:'EEE, MMM d yyyy' }} <span class="text-muted">{{ timeRecord._end | date:'h:mm:ss a' }}</span></dd>
		</dl>
	</div>
</div>