<div class="container" projects-nav></div>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h4>Labels</h4>
		</div>
		<div class="col-md-4 text-right">
			<a ng-href="/projects/{{ projectId }}/labels/new-label" class="btn btn-primary">New label</a>
		</div>
	</div>
	
	<form class="form-horizontal" name="newLabelForm" ng-submit="save()" ng-show="showNewLabelForm">
		<div class="well">
			<div class="form-group">
				<label class="control-label col-md-2">New Label</label>
				<div class="col-md-5">
					<input type="text" class="form-control" ng-model="label.name" placeholder="Label name...">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Color</label>
				<div class="col-md-10">
					<div class="btn-group">
						<button type="button" class="btn" ng-repeat="color in colors" ng-click="label.color = color" ng-style="{ 'background-color': color, 'color': (color | textColorGivenBackgroundColor) }"><span class="glyphicon " ng-class="{ 'glyphicon-ok' : (color == label.color) }"></span>&nbsp;</button>
						<button type="button" class="btn btn-default" ng-click="label._custom_color = true;">Customize</button>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="label._custom_color" ng-class="{ 'has-error': (!newLabelForm.customColor.$valid) }">
				<div class="col-md-offset-2 col-md-5">
					<input type="text" class="form-control" name="customColor" ng-model="label.color" placeholder="Enter custom HEX color..." ng-pattern="/^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Preview</label>
				<div class="col-md-5" style="padding-top:7px;">
					<span label="label"></span>
				</div>
			</div>
		</div>
	</form>

	<ul class="list-group">
		<li class="list-group-item label-edit" ng-repeat="label in labels | filterDisplayObjects">
			<form class="form-horizontal" ng-show="label._edit">
				<div class="form-group">
					<div class="col-md-3">
						<input type="text" name="name" class="form-control" ng-model="label._name" placeholder="Label name...">
					</div>
					<div class="col-md-6">
						<div class="btn-group">
							<button type="button" class="btn" ng-repeat="color in colors" ng-click="label._color = color" ng-style="{ 'background-color': color, 'color': (color | textColorGivenBackgroundColor) }"><span class="glyphicon " ng-class="{ 'glyphicon-ok' : (color == label._color) }"></span>&nbsp;</button>
							<button type="button" class="btn btn-default" ng-click="label._custom_color = true;">Customize</button>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-xs-6">
								<button type="button" class="btn btn-block btn-default" ng-click="editLabel(label);">Cancel</button>
							</div>
							<div class="col-xs-6">
								<button type="button" class="btn btn-block btn-success" ng-click="saveLabel(label);">Save</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="label._custom_color">
					<div class="col-md-3 col-md-offset-3">
						<input type="text" name="color" class="form-control" ng-model="label._color" placeholder="Label color (as HEX)...">
					</div>
				</div>
			</form>
			<div ng-show="!label._edit">
				<span label="label"></span>
				<ul class="list-inline pull-right">
					<li><a href="#" class="text-muted" ng-click="editLabel(label);"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
					<li><a href="#" class="text-muted" ng-click="deleteLabel(label);"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
				</ul>
			</div>
		</li>
	</ul>

</div> <!-- /.container -->