<div class="select-labels-popover-main">
	<div class="click-watch" ng-click="showPopover = false"></div>
	<div class="select-labels-popover">
		<div class="select-labels-popover-title">
			<a href="#" class="text-muted" ng-click="showPopover = false"><span class="glyphicon glyphicon-remove"></span></a> Edit labels
		</div>
		<div class="list-group">
			<a href="#" class="list-group-item" ng-repeat="label in labels | filterDisplayObjects" ng-click="toggleLabel(label);" ng-style="{ 'color': (labelSelected(label) ? (label.color | textColorGivenBackgroundColor) : 'inherit' ), 'background-color': (labelSelected(label) ? label.color : 'white') }">
				<span ng-style="{ 'background-color': (label.color) }" style="display:inline-block; height:20px; width:20px; border-radius:4px; margin-right:10px;">
					<span class="glyphicon glyphicon-ok" style="position:absolute; margin-top:6px; margin-left:4px;" ng-show="labelSelected(label);"></span>
					&nbsp;
				</span>
				
				{{ label.name }}
			</a>
		</div>
	</div>
</div>