<div class="container">

	<h3 ng-class="{ 'text-muted': (!project.name) }">{{ project.name ? project.name : 'Loading project...' }}</h3>
	<p>{{ project._touched }}</p>
	<p class="text-success" ng-show="project.has_uncompleted_time_records"><span class="glyphicon glyphicon-time"></span> In progress: {{ project._uncompleted | completedTime }}</p>
	<p class="text-primary" ng-show="!project.has_uncompleted_time_records"><span class="glyphicon glyphicon-time"></span> {{ project.completed | completedTime }}</p>
	<hr>

	<div class="row" style="margin-bottom:30px;">
		<div class="col-sm-8">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search" placeholder="Find time record...">

				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						All time records <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="active"><a href="#">All time records</a></li>
						<li><a href="#">Time records I started</a></li>
						<li class="divider"></li>
						<li><a href="#">Deleted</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4 text-right">
			<button type="button" class="btn btn-success" ng-click="createTimeRecord();">New Time Record</button>
		</div>
	</div>

	<div class="projects-list-group">
		<h4>Time records-in-progress</h4>
		<hr class="projects">
		<div class="list-group">
			<div class="list-group-item list-group-item-success" time-record-list-group-item time-record="timeRecord" ng-repeat="timeRecord in timeRecords | filterInProgressTimeRecords | filter:search | orderBy:'update':true as inProgressResults"></div>
		</div>
	</div>

	<div class="projects-list-group">
		<h4>Completed time records <small>most recently updated</small></h4>
		<hr class="projects">
		<div class="list-group">
			<div class="list-group-item" time-record-list-group-item time-record="timeRecord" ng-repeat="timeRecord in timeRecords | filterActiveTimeRecords | filter:search | orderBy:'updated':true as activeResults"></div>
		</div>
		<p class="text-muted" ng-show="activeResults.length == 0">No results.</p>
	</div>

</div> <!-- /.container -->