<!-- When visiting the Projects (home), show:

All the Projects this User has access to.

Sorted by last modified,

with "In progress"/Projects with uncompleted Time Records at the TOP
	- Differientiate "In progress" Projects with a different background color
	- include a LIVE counter

 -->

<div class="container">

	<div class="row" style="margin-bottom:30px;">
		<div class="col-sm-8">
			<input type="text" class="form-control" ng-model="search.name" placeholder="Find projects...">
		</div>
		<div class="col-sm-4 text-right">
			<a ui-sref="app.create-project" class="btn btn-primary">New Project</a>
		</div>
	</div>

	<div class="projects-list-group">
		<h4>Active projects <small>most recently updated</small></h4>
		<hr class="projects">
		<div class="list-group">
			<a ng-href="/projects/{{ project.id }}" class="list-group-item" project-list-group-item project="project" ng-repeat="project in projects | filterDisplayObjects | filter:search | orderBy:'_updated':true as activeResults"></a>
		</div>
		<p class="text-muted" ng-show="activeResults.length == 0">No results.</p>
	</div>
	
</div> <!-- /.container -->