<div class="click-watch" ng-click="backgroundClick();"></div>

<div class="container">
	<ul class="nav nav-links">
		<li class="active"><a ng-href="/projects/{{ projectId }}/">Overview</a></li>
		<li><a ng-href="/projects/{{ projectId }}/time-records">Time</a></li>
		<li><a ng-href="/projects/{{ projectId }}/milestones">Milestones</a></li>
		<li><a ng-href="/projects/{{ projectId }}/comments">Comments</a></li>
		<li><a ng-href="/projects/{{ projectId }}/settings">Settings</a></li>
	</ul>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<dl>
				<dt>{{ project.has_uncompleted_time_records ? 'In progress' : 'Completed' }}</dt>
				<dd>
					{{ project.has_uncompleted_time_records ? project._uncompleted : project.completed | completedTime }}
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<dl>
				<dt>Updated</dt>
				<dd>
					{{ project._updated | date:'medium' }}
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<dl>
				<dt>Contributors</dt>
				<dd>
					me <span class="text-muted">(owner)</span>
				</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<md ng-model="project.description"></md>
			<h4 ng-if="!project.description" class="text-muted">No description</h4>
		</div>
<!-- 		<div class="col-md-2 hidden-xs hidden-sm text-right">
			<a ng-href="/projects/{{ projectId }}/settings" style="margin-top:10px; display:block;"><span class="glyphicon glyphicon-cog"></span> Project Settings</a>
		</div>
		<div class="col-md-2 hidden-md hidden-lg">
			<a ng-href="/projects/{{ projectId }}/settings" style="margin-bottom:24px; display:block;"><span class="glyphicon glyphicon-cog"></span> Project Settings</a>
		</div> -->
	</div>
</div>

<div class="container">
	<div class="row" style="margin-bottom:30px;">
		<div class="col-sm-8">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search.name" placeholder="Find time record...">

				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						All time records <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="active"><a href="#">All time records</a></li>
						<li><a href="#">Time records I started</a></li>
						<li class="divider"></li>
						<li><a href="#">Deleted</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4 text-right">
			<button type="button" class="btn btn-primary" ng-click="createTimeRecord();">New Time Record</button>
		</div>
	</div>

	<div class="projects-list-group">
		<h4>Time records <small>most recently started</small></h4>
		<div class="list-group">
			<div class="list-group-item" ng-class="{ 'list-group-item-in-progress': (!timeRecord.completed), 'list-group-item-edit': (timeRecord._edit) }" time-record-list-group-item time-record="timeRecord" ng-click="timeRecordClick(timeRecord);" ng-repeat="timeRecord in timeRecords | filterDisplayObjects | filter:search | orderBy:'_start':true as timeRecordResults"></div>
		</div>
		<p class="text-muted" ng-show="timeRecordResults.length == 0">No results.</p>
	</div>

</div> <!-- /.container -->

