<div class="container">

	<h3 ng-class="{ 'text-muted': (!project.name) }">{{ project.name ? project.name : 'Loading project...' }}</h3>
	<hr>

	<div class="row" style="margin-bottom:30px;">
		<div class="col-sm-8">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search" placeholder="Find time record...">

				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						All time records <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="active"><a href="#">All time records</a></li>
						<li><a href="#">Time records I started</a></li>
						<li class="divider"></li>
						<li><a href="#">Deleted</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4 text-right">
			<button type="button" class="btn btn-success" ng-click="createTimeRecord();">New Time Record</button>
		</div>
	</div>

	<div class="projects-list-group">
		<h4>Time Records <small>most recently updated</small></h4>
		<hr class="projects">
		<div class="list-group">
			<div class="list-group-item list-group-item" ng-repeat="timeRecord in timeRecords | orderBy:'updated':true as activeResults">
				<h4 class="list-group-item-heading">{{ timeRecord.id }}</h4>
				<p class="text-primary"><span class="glyphicon glyphicon-time"></span> {{ timeRecord.completed | completedTime }}</p>
				<p ng-show="timeRecord.description">{{ timeRecord.description }}</p>
				<p class="text-muted" ng-show="!timeRecord.description">No description.</p>
				<div class="row">
					<div class="col-md-3">
						<dl>
							<dt>Started</dt>
							<dd>{{ timeRecord.start | date:'medium' }}</dd>
						</dl>
					</div>
				</div>
				<p class="list-group-item-text text-muted">Updated: {{ timeRecord.updated | date:'medium' }}</p>
			</div>
		</div>
		<p class="text-muted" ng-show="activeResults.length == 0">No results.</p>
	</div>

</div> <!-- /.container -->