<div class="projects-list">
	<div class="projects-list-item" ng-class="{ 'active': (activeProject == project) }" ng-repeat="project in projects | filterProjects | orderBy:'_updated':true">
		<a ng-href="/projects/{{ project.id }}" ng-click="projectClick({ 'project': project });">
			<div class="projects-list-item-name">{{ project.name }}</div>
			<div><span class="glyphicon glyphicon-time"></span> <span ng-show="project.has_uncompleted_time_records"><strong>In progress:</strong></span> {{ project._uncompleted ? project._uncompleted : project.completed | aproximateCompletedTime }}</div>
		</a>
	</div>
</div>