<div ng-if="!milestone._view">
	<div class="row">
		<div class="col-md-10">
			<p>
				<strong>{{ milestone.name }}</strong>
				<span class="badge">Enhancement</span>
			</p>
		</div>
		<div class="col-md-2">
			{{ displayComments.length > 0 ? displayComments.length : 'No ' }} comments
		</div>
	</div>

	<hr ng-show="milestone._view">

	<p class="text-muted" style="margin-bottom:0px;">
		#{{ milestone.number }} created on {{ milestone._created | date:'mediumDate' }} by {{ milestone.user }}
	</p>
</div>

<div ng-if="milestone._view">

	<h4>{{ milestone.name }} <span class="text-muted">#{{ milestone.number }}</span></h4>

	<p>
		<span class="badge" style="background-color:#5cb85c;">Open!</span> <strong>{{ milestone.user }}</strong> created this milestone on <span ng-attr-title="{{ milestone._created | date:'medium' }}">{{ milestone._created | date:'mediumDate' }}</span>. {{ displayComments.length > 0 ? displayComments.length : 'No ' }} comments.
	</p>

	<div class="comment" style="margin-left:-15px; margin-right:-15px; padding:10px 15px 10px 15px; border-top:1px solid #ddd;">
		<md ng-model="milestone.description"></md>
		<p class="text-muted" ng-show="!milestone.description" style="margin-top:10px;"><em>No description given.</em></p>

		<div>
			<ul class="list-inline">
				<li><strong>Labels:</strong></li>
				<li><a href="" class="badge">Enhancement</a></li>
				<li><a href="" class="badge">UI</a></li>
				<li><a href="#" class="text-muted">Add labels</a></li>
			</ul>
		</div>
	</div>

	<div class="comment" ng-repeat="comment in comments | filterDisplayObjects | orderBy:'created' as displayComments" style="margin-left:-15px; margin-right:-15px; padding:10px 15px 10px 15px; border-top:1px solid #ddd;">
		<p>
			<strong>{{ comment.user }}</strong>
			<span class="text-muted">{{ comment.created | date:'medium' }}</span>
		</p>
		<md ng-model="comment.comment"></md>
	</div>

	<form name="newCommentForm">
		<div class="row" style="margin-bottom:-15px; padding-top:15px; border-top:1px solid #dddddd; background-color:#ececec;" ng-show="milestone._view">
			
			<div class="col-md-10">

				<div class="form-group">
					<textarea class="form-control" name="" id="" ng-model="milestone._new_comment" placeholder="Comment..."></textarea>
				</div>

			</div>
			<div class="col-md-2">
				<div class="form-group">
					<button class="btn btn-block btn-primary" ng-click="addComment(milestone);">Add Comment</button>
				</div>
			</div>
		</div>
	</form>
</div>