<div class="row">
	<div class="col-sm-8">
		<h1>{{ timeRecord.name ? timeRecord.name : timeRecord._start | friendlyStartTime }} <span class="text-muted">{{ timeRecord.completed ? timeRecord.completed : timeRecord._uncompleted | completedTime }}</span></h1>
	</div>
	<div class="col-sm-4 text-right" style="padding-top:10px;">
		<a ui-sref="app.project.time-records.project-time-records.edit-time-record({ timeRecordId: timeRecord.id })" title="Edit issue." class="text-muted" style="position:relative; top:1px;">Edit</a>
		<button type="button" class="btn btn-default" ng-show="!timeRecord.completed" ng-click="complete();" style="margin-left:10px;">End time record</button>
	</div>
</div>

<p>
	<span class="tj-label" ng-show="!timeRecord.completed" style="margin-left:0px; background-color:#967adc;">In-progress</span>
	<strong>{{ timeRecord.user }}</strong> started this time record on {{ timeRecord._created | date:'mediumDate' }} at {{ timeRecord._created | date:'shortTime' }}. <span ng-pluralize count="displayComments.length" when="commentsPluralizeWhen"></span>
</p>

<div class="comment" ng-repeat="comment in comments | filterDisplayObjects | orderBy:'created' as displayComments" style="margin-left:-15px; margin-right:-15px; padding:10px 15px 10px 15px; border-top:1px solid #ddd;">
	<p>
		<strong>{{ comment.user }}</strong>
		<span class="text-muted">{{ comment.created | date:'medium' }}</span>
	</p>
	<md ng-model="comment.comment"></md>
</div>

<form name="newCommentForm">
	<div class="row" style="margin-bottom:-15px; padding-top:15px; border-top:1px solid #dddddd; background-color:#ececec;">
		
		<div class="col-md-10">

			<div class="form-group">
				<textarea class="form-control" name="" id="" ng-model="timeRecord._new_comment" placeholder="Comment..."></textarea>
			</div>

		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-block btn-primary" ng-click="addComment(timeRecord);">Add Comment</button>
			</div>
		</div>
	</div>
</form>