<div class="row" style="margin-bottom:30px;">
	<div class="col-sm-8">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="search.name" placeholder="Search time records...">

			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					All time records <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li class="active"><a href="#">All time records</a></li>
					<li><a href="#">Time records I started</a></li>
					<li class="divider"></li>
					<li><a href="#">Deleted</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-4 text-right">
		<button type="button" class="btn btn-primary" ng-click="createTimeRecord();">New time record</button>
	</div>
</div>

<div class="projects-list-group" ng-repeat="(group, groupTimeRecords) in filteredByDay">
	<h4 class="text-muted">{{ group | capitalize }}</h4>
	<div class="list-group popout">
		<div class="list-group-item" ng-class="{ 'list-group-item-in-progress': (!timeRecord.completed), 'view': (timeRecord._view) }" ng-click="timeRecordClick(timeRecord);" ng-repeat="timeRecord in groupTimeRecords | filterDisplayObjects | filter:search | orderBy:'_start':true as timeRecordResults">
			
			<div ng-if="!timeRecord._view" time-record-list-item="timeRecord"></div>
			<div ng-if="timeRecord._view && !timeRecord._edit" time-record-view="timeRecord"></div>
			<div ng-if="!timeRecord._view && timeRecord._edit" time-record-edit="timeRecord"></div>
		</div>
	</div>
	<p class="text-muted" ng-show="timeRecordResults.length == 0">No results.</p>
</div>
