<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-md-2">Owner</label>
		<div class="col-md-10">
			<p style="margin-top:7px;">{{ project.owner }} <span ng-show="user.email == project.owner">(me)</span> <span class="text-muted">Cannot be changed, forthcoming feature.</span></p>
		</div>
	</div>
</form>

<form name="contributorForm" class="form-horizontal" ng-submit="addContributor();">
	<div class="form-group">
		<label class="control-label col-md-2">Contributors</label>
		<div class="col-md-10">
			<ul class="list-group sharing">
				<li class="list-group-item" ng-repeat="email in project.contributors">
					<div class="row">
						<div class="col-md-6">
							{{ email }} <span class="text-muted" ng-show="user.email == email">&mdash; me</span>
						</div>
						<div class="col-md-6">
							<ul class="list-inline pull-right">
								<li><a href="#" class="text-muted" ng-click="removeContributor(email);"><span class="glyphicon glyphicon-remove"></span> Remove</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="list-group-item text-muted" ng-if="project.contributors.length == 0">No contributors</li>
			</ul>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="newContributor" placeholder="Enter the email address of a new contributor...">
				<div class="input-group-btn">
					<button class="btn btn-primary">Add contributor</button>
				</div>
			</div>
			<p class="help-block">An email invitation will be sent to the new contributor with a link to sign up and access this project&mdash;if they're already on ThoughtJot! they'll receive a notification.</p>
			<p class="">Contributors have read/write access to the Project. However, they do not have control over sharing.</p>
		</div>
	</div>
</form>

<!-- <form name="observerForm" class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-md-2">Observers</label>
		<div class="col-md-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Enter the email address of a new observer...">
				<div class="input-group-btn">
					<button class="btn btn-primary">Add observer</button>
				</div>
			</div>
			<p class="help-block">An email invitation will be sent to the new observer with a link to sign up and access this project&mdash;if they're already on ThoughtJot! they'll receive a notification.</p>
			<p>Observers have read-only access to the Project.</p>
		</div>
	</div>
</form> -->

<hr>

<div class="row">
	<div class="col-md-offset-2 col-md-10">
		<p class="text-muted">All changes are live! No need to save here!</p>
	</div>
</div>