<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="app.appCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

	<title ng-bind="config.pageTitle">ThoughtJot!</title>

	<!-- HTML5 base -->
	<base href="/">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/layout.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="/animations.css">

	<!-- Google Fonts -->
	<link href='//fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<nav class="navbar navbar-thoughtjot navbar-fixed-top">
		<div class="container-flexible">
			<div class="navbar-header">
				<button class="thoughtjot-toggle pull-left" ng-click="toggleSidebar();">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a ng-href="{{ config.navbar.link }}" class="navbar-brand">
					<span ng-show="config.navbar.title">{{ config.navbar.title }}</span>
					<span class="satisfy-font" ng-show="!config.navbar.title">ThoughtJot!</span>
				</a>
			</div>

			<!-- Collect nav links for collapse -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
					<li class="dropdown" ng-show="user.email">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							{{ user.first_name ? user.first_name : user.email }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/account">My Account</a></li>
							<li><a href="/team">Add Clients</a></li>
							<li class="divider"></li>
							<li><a href="/_login?action=logout&continue=%2F" target="_self">Log out</a></li>
						</ul>
					</li>
					<li ng-show="!user.email"><a href="/login">Log in</a></li>
				</ul>
			</div> <!-- ./navbar-collapse -->
		</div> <!-- /.container-flexible -->
	</nav>

	<div class="thoughtjot-sidebar" projects-sidebar projects="projects" ng-show="config.sidebar.show"></div>

	<div class="wrapper" ng-click="wrapperClick();">
		<div class="main-container" ui-view></div>
	</div>

	<div class="footer">
		<p class="small text-center text-muted">Copyright &copy; 2015 <a href="http://roberthodgen.com/" class="text-muted">Robert Hodgen</a>.</p>
	</div>

	<!-- AngularJS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<!-- App-specific AngularJS modules -->
	<script src="/app.js"></script>
	<script src="/appCtrl.js"></script>
	<!-- App-specific components -->
	<script src="/components/filters.js"></script>
	<script src="/components/appFactory.js"></script>
	<script src="/components/userFactory.js"></script>
	<script src="/components/dataFactory.js"></script>
	<!-- App-specific controllers -->
	<script src="/home/homeCtrl.js"></script>
	<script src="/error/errorCtrl.js"></script>
	<script src="/login/loginCtrl.js"></script>
	<script src="/projects/projectsHomeCtrl.js"></script>
	<script src="/projects/projectListGroupItem.js"></script>
	<script src="/new-project/new-project-ctrl.js"></script>
	<script src="/projects/projectDetailCtrl.js"></script>
	<script src="/project-time-records/project-time-records-ctrl.js"></script>
	<script src="/project-milestones/project-milestones-ctrl.js"></script>
	<script src="/new-milestone/new-milestone-ctrl.js"></script>
	<script src="/project-settings/project-settings-ctrl.js"></script>
	<script src="/project-labels/project-labels-ctrl.js"></script>
	<script src="/project-labels/new-label-ctrl.js"></script>
	<!-- App-specific directives -->
	<script src="/time-records/timeRecordListGroupItem.js"></script>
	<script src="/projects-sidebar/projects-sidebar-directive.js"></script>
	<script src="/projects-nav/projects-nav-directive.js"></script>
	<script src="/project-milestones/milestone-list-group-item-directive.js"></script>
	<script src="/project-labels/label-directive.js"></script>
	<script src="/project-labels/add-labels-popover-directive.js"></script>

	<!-- Third Party -->
	<script src="/third-party/angular-ui-router.min.js"></script>
	<script src="/third-party/marked.min.js"></script>
	<script src="/third-party/angular-md.min.js"></script>

</body>
</html>