html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	padding-top: 56px;
}

.main-container {
	/*height: 100%;*/
	padding-bottom: 30px;
	position: relative;
}

.main-container > .container {
	margin-top: 24px;
	position: relative;
}

.click-watch {
	position: fixed;
	height: 100%;
	width: 100%;
}

.footer {
	position: relative;
	margin-top: -30px;
	height: 30px;
	clear: both;
}

.list-group-item {
	padding: 15px;
}

.list-group-item-heading {
	margin-bottom: 15px;
}

.list-group-item-text {
}

.projects-list-group {
	margin-bottom: 30px;
}

.projects-list-group hr {
	margin-bottom: 10px;
	margin-top: 10px;
}


/*
*	Home
*/

.home-splash {
	margin-top: -29px;
	height: 100vh;
	min-height: 750px;
	text-align: center;
}

.home-splash h1 {
	margin-top: 30vh;
	margin-bottom: 60px;
}

/*
*	Page Splash
*/

.page-splash.purple {
	margin-top: -29px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 29px;
}