body {
	padding-top: 70px;
}

.list-group-item {
	padding: 15px;
}
.list-group-item-heading {
	margin-bottom: 15px;
}

.list-group-item-text {
}

.projects-list-group {
	margin-bottom: 30px;
}

.projects-list-group hr {
	margin-bottom: 10px;
	margin-top: 10px;
}