html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	padding-top: 80px;
}

.main-container {
	/*height: 100%;*/
	padding-bottom: 30px;
}

.footer {
	position: relative;
	margin-top: -30px;
	height: 30px;
	clear: both;
}

.list-group-item {
	padding: 15px;
}

.list-group-item-heading {
	margin-bottom: 15px;
}

.list-group-item-text {
}

.projects-list-group {
	margin-bottom: 30px;
}

.projects-list-group hr {
	margin-bottom: 10px;
	margin-top: 10px;
}


/*
*	Home
*/

.home-splash {
	margin-top: -29px;
	height: 100vh;
	min-height: 750px;
	text-align: center;
}

.home-splash h1 {
	margin-top: 30vh;
	margin-bottom: 60px;
}

/*
*	Page Splash
*/

.page-splash.purple {
	margin-top: -29px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 29px;
}


/*
*	Click Watch
*/

.click-watch {
	position: fixed;
	height: 100%;
	width: 100%;
}


/*
*	Projects Sidebar
*/

.projects-sidebar {
	height:100%;
	width:332px;
	background-color:white;
	position:fixed;
	padding-top:56px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),2px 4px 8px rgba(0,0,0,.28);
	z-index:980;
	y-overflow:scroll;
}

.projects-sidebar > .projects-list {
	margin-top: 10px;
}

.projects-sidebar > .projects-list {
	display: block;
}

.projects-list-item a {
	padding: 15px 10px 15px 20px;
	display: block;
	color: #757575;
}

.projects-list-item-name {
	font-weight: 700;
	margin-bottom: 2px;
}

.projects-list-item a:hover,
.projects-list-item a:focus,
.projects-list-item a:active {
	background-color: #f0f0f0;
	text-decoration: none;
	color: #757575;
}

.projects-list-item.active a {
	color: #7757c7;
	background-color: #f0f0f0;
}