body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #ececec;
}

.satisfy-font {
	font-family: 'Satisfy', cursive;
	font-size: 1.2em;
}

.text-primary {
	/*color: #967adc;;*/
	color: #7757c7;
}

.text-light {
	color: #eee8fc;
}

.text-muted {
	color: #999;
}

hr {
	border-top: 1px solid #ddd;
}


/*
*	Header Styles
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 400; /* Normal */
}

h1 {
	margin-top: 10px;
	font-size: 30px;
}

h2 {
	margin-top: 10px;
	font-size: 25px;
}

h3 {
	margin-top: 10px;
	font-size: 21px;
}


/*
*   Navbar
*/

.navbar-thoughtjot {
	background-color: #967adc;
	border: none;
	height: 56px
}
.navbar-thoughtjot:before {
	width: 104%;
	height: 56px;
	left: -2%;
	position: fixed;
	box-shadow: 0px 5px 12px rgba(0, 0, 0, .25);
	z-index: -1;
}

.navbar-thoughtjot .navbar-brand {
	color: white;
	line-height: 26px;
	height: 56px;
	padding-left: 0px;
}
.navbar-thoughtjot .navbar-text {
	color: white;
}
.navbar-thoughtjot .navbar-nav > li > a {
	/*text-shadow: 0 1px 0 rgba(0, 0, 0, .25);*/
	color: white;
	line-height: 26px
}
.navbar-thoughtjot .navbar-nav > li > a:hover,
.navbar-thoughtjot .navbar-nav > li > a:focus {
	color: white;
	background-color: #765cb6;
}
.navbar-thoughtjot .navbar-nav > .active > a,
.navbar-thoughtjot .navbar-nav > .active > a:hover,
.navbar-thoughtjot .navbar-nav > .active > a:focus {
	color: white;
	background-color: #765cb6;
}
.navbar-thoughtjot .navbar-nav > .disabled > a,
.navbar-thoughtjot .navbar-nav > .disabled > a:hover,
.navbar-thoughtjot .navbar-nav > .disabled > a:focus {
	color: #ccc;
	background-color: #765cb6;
}
.navbar-thoughtjot .navbar-collapse,
.navbar-thoughtjot .navbar-form {
	border-color: #765cb6;
}
.navbar-thoughtjot .navbar-nav > .open > a,
.navbar-thoughtjot .navbar-nav > .open > a:hover,
.navbar-thoughtjot .navbar-nav > .open > a:focus {
	color: white;
	background-color: #765cb6;
}
@media (max-width: 767px) {
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > li > a {
	color: white;
	}
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #765cb6;
	background-color: transparent;
	}
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: white;
	background-color: #765cb6;
	}
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-thoughtjot .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: white;
	background-color: transparent;
	}
}
.navbar-thoughtjot .navbar-link {
	color: white;
}
.navbar-thoughtjot .navbar-link:hover {
	color: #765cb6;
}
.navbar-thoughtjot .btn-link {
	color: #967adc;
}
.navbar-thoughtjot .btn-link:hover,
.navbar-thoughtjot .btn-link:focus {
	color: #765cb6;
}
.navbar-thoughtjot .btn-link[disabled]:hover,
fieldset[disabled] .navbar-thoughtjot .btn-link:hover,
.navbar-thoughtjot .btn-link[disabled]:focus,
fieldset[disabled] .navbar-thoughtjot .btn-link:focus {
	color: white;
}


/*
*   .form-control
*/

.form-control:focus {
	border-color: #BAA4ED;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(186, 164, 237, .6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(186, 164, 237, .6);
}


/*
* btn:focus
*/

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline-color: #baa4ed;
}


/*
* btn:active
*/

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
			box-shadow: none;
}

/*
*	btn:disabled
*/

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=55);
	-webkit-box-shadow: none;
			box-shadow: none;
	opacity: .55;
}


/*
*   btn-primary
*/

.btn-primary {
	color: white;
	background-color: #967adc;
	border-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: white;
	background-color: #765cb6;
	border-color: #5b39ad;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #765cb6;
	border-color: transparent;
}
.btn-primary .badge {
	color: #967adc;
	background-color: white;
}


/*
*   Home
*/

.home-splash.purple {
	background: linear-gradient(#967adc, #ac92ec);
	color: white;
}

.home-splash h1 {
	font-size: 92px;
	transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-webkit-transform: rotate(-7deg);
}


/*
*   Page Splash
*/

.page-splash.purple {
	background: linear-gradient(#967adc, #ac92ec);
	color: white;
}

.page-splash.purple h2 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}


/*
*   Lead Button
*/

.btn-lead {
	color: white;
	background-color: transparent;
	border-color: white;
}
.btn-lead:hover,
.btn-lead:focus,
.btn-lead.focus,
.btn-lead:active,
.btn-lead.active,
.open > .dropdown-toggle.btn-lead {
	color: #967adc;
	background-color: white;
	border-color: white;
}
.btn-lead:active,
.btn-lead.active,
.open > .dropdown-toggle.btn-lead {
	background-image: none;
}
.btn-lead.disabled,
.btn-lead[disabled],
fieldset[disabled] .btn-lead,
.btn-lead.disabled:hover,
.btn-lead[disabled]:hover,
fieldset[disabled] .btn-lead:hover,
.btn-lead.disabled:focus,
.btn-lead[disabled]:focus,
fieldset[disabled] .btn-lead:focus,
.btn-lead.disabled.focus,
.btn-lead[disabled].focus,
fieldset[disabled] .btn-lead.focus,
.btn-lead.disabled:active,
.btn-lead[disabled]:active,
fieldset[disabled] .btn-lead:active,
.btn-lead.disabled.active,
.btn-lead[disabled].active,
fieldset[disabled] .btn-lead.active {
	background-color: white;
	border-color: white;
}
.btn-lead .badge {
	color: white;
	background-color: #967adc;
}


a.list-group-item:hover,
a.list-group-item:focus {
	color: #555;
	text-decoration: none;
	background-color: white;
}


/*
*   In Progress
*/

.projects-list-group > p {
	margin-bottom: 5px;
	margin-left: 10px;
	color: #999;
}

.projects-list-group .list-group-item {
	cursor: pointer;
}

.projects-list-group .list-group-item.list-group-item-edit {
	cursor: auto;
}

.projects-list-group .list-group-item-in-progress .in-progress-bold {
	font-weight: 700;
}

.projects-list-group .list-group-item .time-record-hover-only {
	display: none;
}

.projects-list-group .list-group-item:hover .time-record-hover-only {
	display: inline-block;
}


/*
*	ThoughtJot Sidebar
*/

.thoughtjot-sidebar {
	height: 100%;
	width: 332px;
	background-color: white;
	position: fixed;
	padding-top: 56px;
	box-shadow: 5px 0px 12px rgba(0, 0, 0, .25);
	z-index: 980;
}

.thoughtjot-sidebar hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sidebar-list {
	display: block;
	height: 100%;
	overflow-y: scroll;
}

.sidebar-list-item a {
	padding: 15px 10px 15px 20px;
	display: block;
	color: #757575;
}

.sidebar-list .sidebar-list-item:first-child {
	margin-top: 10px;
}

.sidebar-list .sidebar-list-item:last-child {
	margin-bottom: 10px;
}

.sidebar-list-item-name {
	font-weight: 700;
	margin-bottom: 2px;
}

.sidebar-list-item a:hover,
.sidebar-list-item a:focus,
.sidebar-list-item a:active {
	background-color: #f0f0f0;
	text-decoration: none;
	color: #757575;
	outline: 0;
}

.sidebar-list-item.active a {
	color: #7757c7;
	background-color: #f0f0f0;
}


/*
*	ThoughtJot Toggle for Sidebar
*	Based off Bootstrap's `navbar-toggle`
*/

.thoughtjot-toggle {
	position: relative;
	padding: 10px 10px;
	margin: 6px;
	height: 44px;
	width: 44px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 22px;
}
.thoughtjot-toggle:hover {
	outline: 0;
	background-color: #7757c7;
}
.thoughtjot-toggle:focus {
	outline: 0;
}
.thoughtjot-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: white;
}
.thoughtjot-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}


/*
*	Markdown Preview Link
*/

textarea.form-control.with-btn-preview {
	border-bottom-left-radius: 0;
}

.preview-link {
	display: block;
	position: relative;
	top: -1px;
}

.preview-link .btn-preview {
	/*position: absolute;*/
	/*right: 0;*/
	z-index: 10;
	/*top: -8px;*/
	border-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.preview-link p.help-block {
	display: inline-block;
	margin-left: 5px;
}

.well.with-btn-preview {
	background-color: white;
	margin: 0;
	border-bottom-left-radius: 0;
	border-color: #ccc;
	height: 200px;
	max-height: 200px;
	overflow-y: auto;
}

/*
*	.nav .nav-links
*/

.nav-links > li {
	float: left;

}
.nav-links > li > a {
	border-radius: 0;
	color: #967adc;
}
.nav-links > li + li {
	margin-left: 2px;
}

.nav-links > li > a:hover,
.nav-links > li > a:focus {
	text-decoration: none;
	border-bottom: 2px solid #967adc;
	background-color: transparent;
}

.nav-links > li.active > a,
.nav-links > li.active > a:hover,
.nav-links > li.active > a:focus {
	color: #967adc;
	font-weight: 700;
	border-bottom: 2px solid #967adc;
}

/*
*	.tj-label
*/

.tj-label {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	margin: 0 5px 0 5px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
}
.tj-label:empty {
	display: none;
}


/*
*	Edit Labels
*/

.label-edit .form-group:last-child {
	margin-bottom: 0px;
}


/*
*	.select-labels-popover
*/

.select-labels-popover {
	width: 280px;
	background-color: #ececec;
	box-shadow: 0px 5px 12px rgba(0, 0, 0, .25);
	border-radius: 4px;
	border: 1px solid #ccc;
	text-align: left;
}

.select-labels-popover-title {
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #ddd;
}

.select-labels-popover .list-group {
	margin: 0px;
	max-height: 255px;
	overflow-y: auto;
}

.select-labels-popover .list-group .list-group-item {
	border-left: none;
	border-right: none;
	padding: 5px;
}

.select-labels-popover .list-group .list-group-item:first-child {
	border-top: none;
	border-radius: 0px;
}

.select-labels-popover .list-group .list-group-item:last-child {
	border-bottom: none;
}